header {
    background : #007af5;
    height     : 0.88rem;
    text-align : center;
    font-size  : 0.34rem;
    color      : #ffffff;
    line-height: 0.88rem;
    overflow: hidden;
    letter-spacing: 3px;
    position: relative;
}
body{
    touch-action: none;
}
